.elementor-1586 .elementor-element.elementor-element-75b98f8{--display:flex;--background-transition:0.3s;}.elementor-1586 .elementor-element.elementor-element-22a0156 .twae-wrapper{--tw-cbx-text-align:left;--tw-cbx-text-align-alternate:left;--tw-line-width:4px;--tw-line-filling-color:var( --e-global-color-primary );--tw-ibx-size:48px;--tw-ibx-text-size:22px;--tw-lbl-gap:6px;--tw-lbl-big-color:#FFFFFF;--tw-lbl-big-size:0px;--tw-lbl-small-color:#FFFFFF;--tw-lbl-small-size:16px;--lbl-bd-style:none;--lbl-bd-radius:50px 50px 50px 50px;--tw-ybx-text-color:#FFFFFF;--tw-ybx-bg:#E960AC;--tw-ybx-size:120px;--tw-cbx-bottom-margin:60px;--tw-cbx-bg:#FFFFFF;--tw-cbx-bd-style:none;--tw-cbx-title-color:#212121;--tw-cbx-title-padding:0px 0px 0px 0px;--tw-cbx-title-margin:0 0 15px 0;}.elementor-1586 .elementor-element.elementor-element-22a0156 .twae-label-big,.elementor-1586 .elementor-element.elementor-element-22a0156 .twae_icon_text{font-family:"Titillium Web", Sans-serif;font-weight:700;}.elementor-1586 .elementor-element.elementor-element-22a0156 .twae-year-text{font-family:"Titillium Web", Sans-serif;font-size:30px;}.elementor-1586 .elementor-element.elementor-element-22a0156 .twae-title{font-size:28px;font-weight:700;}.elementor-1586 .elementor-element.elementor-element-22a0156 .twae-description, .elementor-1586 .elementor-element.elementor-element-22a0156 .twae-button a{font-family:"Titillium Web", Sans-serif;font-size:20px;font-weight:400;}.elementor-1586 .elementor-element.elementor-element-22a0156 .twae-wrapper, .elementor-1586 .elementor-element.elementor-element-22a0156-popup .twae-popup-content .twae-media img{--tw-cbx-img-width:100%;--tw-cbx-img-padding:0% 0% 0% 0%;--tw-cbx-img-margin:0% 0% 0% 0%;--tw-cbx-img-margin-left:0%;--tw-cbx-img-margin-right:0%;}.elementor-1586 .elementor-element.elementor-element-22a0156 .twae-wrapper, .elementor-1586 .elementor-element.elementor-element-22a0156-popup .twae-popup-content .twae-media{--tw-cbx-img-align:left;}.elementor-1586 .elementor-element.elementor-element-22a0156 .twae_image_outside{--tw-image-outside-top-margin:0%;--tw-image-outside-bottom-margin:0%;}@media(max-width:1024px){.elementor-1586 .elementor-element.elementor-element-22a0156 .twae-wrapper{--tw-ibx-size:38px;--tw-ibx-text-size:18px;--tw-lbl-gap:4px;--tw-lbl-big-size:20px;--tw-lbl-small-size:14px;--tw-ybx-size:66px;}}@media(max-width:767px){.elementor-1586 .elementor-element.elementor-element-22a0156 .twae-wrapper{--tw-ibx-size:32px;--tw-ibx-text-size:14px;--tw-lbl-gap:2px;--tw-lbl-big-size:18px;--tw-lbl-small-size:14px;--tw-ybx-size:80px;}.elementor-1586 .elementor-element.elementor-element-22a0156 .twae-year-text{font-size:20px;}.elementor-1586 .elementor-element.elementor-element-22a0156 .twae-title{font-size:15px;}.elementor-1586 .elementor-element.elementor-element-22a0156 .twae-description, .elementor-1586 .elementor-element.elementor-element-22a0156 .twae-button a{font-size:15px;}.elementor-1586 .elementor-element.elementor-element-22a0156 .twae-wrapper, .elementor-1586 .elementor-element.elementor-element-22a0156-popup .twae-popup-content .twae-media img{--tw-cbx-img-height:55px;--tw-cbx-img-padding:0% 0% 0% 0%;--tw-cbx-img-margin:5% 0% 0% 4%;--tw-cbx-img-margin-left:4%;--tw-cbx-img-margin-right:0%;}.elementor-1586 .elementor-element.elementor-element-22a0156 .twae_image_outside{--tw-image-outside-top-margin:5%;--tw-image-outside-bottom-margin:0%;}}/* Start custom CSS for timeline-widget-addon, class: .elementor-element-22a0156 */#texto-completo {
    display: none;
  }
#boton-leer-mas {
    border: none;
    background: none;
    color: #04B2E2;
    text-decoration: underline;
    cursor: pointer;
    margin-top: 0px;
        float: right;
  }
/*Derecha*/
#twae-e9ea73d > div.twae-content.aos-init.aos-animate > div.twae-title {
    margin-left: 25% !important ;
}
/*Izquierda*/
#twae-602fe9b > div.twae-content.aos-init.aos-animate > div.twae-title {
    margin-right: 25% !important ;
}
/*Derecha*/
#twae-e9ea73d > div.twae-content.aos-init.aos-animate > div.twae-media.medium > img{
    position: absolute;
    left: -21px;
    top: -21px;
}
/*Izquierda*/
#twae-602fe9b > div.twae-content.aos-init.aos-animate > div.twae-media.medium > img {
    position: absolute;
    right: -21px;
    top: -21px;
}
/*---------------------------------------------------------------------------------*/
/*Derecha*/
#twae-052c27d > div.twae-content.aos-init.aos-animate > div.twae-title{
    margin-left: 25% !important ;
}
/*Izquierda*/
#twae-abca0f3 > div.twae-content.aos-init.aos-animate > div.twae-title {
    margin-right: 25% !important ;
}
/*Derecha*/
#twae-052c27d > div.twae-content.aos-init.aos-animate > div.twae-media.medium > img{
    position: absolute;
    left: -21px;
    top: -21px;
}
/*Izquierda*/
#twae-abca0f3 > div.twae-content.aos-init.aos-animate > div.twae-media.medium > img {
    position: absolute;
    right: -21px;
    top: -21px;
}
/*---------------------------------------------------------------------------------*/
/*Derecha*/
#twae-161dc16 > div.twae-content.aos-init.aos-animate > div.twae-title {
    margin-left: 25% !important ;
}
/*Izquierda*/
#twae-134f262 > div.twae-content.aos-init.aos-animate > div.twae-title {
    margin-right: 25% !important ;
}
/*Derecha*/
#twae-161dc16 > div.twae-content.aos-init.aos-animate > div.twae-media.medium > img{
    position: absolute;
    left: -21px;
    top: -21px;
}
/*Izquierda*/
#twae-134f262 > div.twae-content.aos-init.aos-animate > div.twae-media.medium > img {
    position: absolute;
    right: -21px;
    top: -21px;
}
/*---------------------------------------------------------------------------------*/
/*Derecha*/
#twae-e9ea73d > div.twae-content.aos-init.aos-animate > div.twae-title {
    margin-left: 25% !important ;
}
/*Izquierda*/
#twae-602fe9b > div.twae-content.aos-init.aos-animate > div.twae-title {
    margin-right: 25% !important ;
}
/*Derecha*/
#twae-e9ea73d > div.twae-content.aos-init.aos-animate > div.twae-media.medium > img{
    position: absolute;
    left: -21px;
    top: -21px;
}
/*Izquierda*/
#twae-602fe9b > div.twae-content.aos-init.aos-animate > div.twae-media.medium > img {
    position: absolute;
    right: -21px;
    top: -21px;
}
/*---------------------------------------------------------------------------------*/
/*Derecha*/
#twae-d013206 > div.twae-content.aos-init.aos-animate > div.twae-title {
    margin-left: 25% !important ;
}
/*Izquierda*/
#twae-821db9d > div.twae-content.aos-init.aos-animate > div.twae-title {
    margin-right: 25% !important ;
}
/*Derecha*/
#twae-d013206 > div.twae-content.aos-init.aos-animate > div.twae-media.medium > img{
    position: absolute;
    left: -21px;
    top: -21px;
}
/*Izquierda*/
#twae-821db9d > div.twae-content.aos-init.aos-animate > div.twae-media.medium > img {
    position: absolute;
    right: -21px;
    top: -21px;
}
/*---------------------------------------------------------------------------------*/
/*Derecha*/
#twae-40a5b77 > div.twae-content.aos-init.aos-animate > div.twae-title {
    margin-left: 25% !important ;
}
/*Izquierda*/
#twae-68baa48 > div.twae-content.aos-init.aos-animate > div.twae-title {
    margin-right: 25% !important ;
}
/*Derecha*/
#twae-40a5b77 > div.twae-content.aos-init.aos-animate > div.twae-media.medium > img{
    position: absolute;
    left: -21px;
    top: -21px;
}
/*Izquierda*/
#twae-68baa48 > div.twae-content.aos-init.aos-animate > div.twae-media.medium > img{
    position: absolute;
    right: -21px;
    top: -21px;
}
/*Derecha*/
#twae-a2759d0 > div.twae-content.aos-init.aos-animate > div.twae-title {
    margin-left: 25% !important ;
}
/*Derecha*/
#twae-a2759d0 > div.twae-content.aos-init.aos-animate > div.twae-media.medium > img{
    position: absolute;
    left: -21px;
    top: -21px;
}
@media only screen and (max-width: 600px) {

    #twae-602fe9b > div.twae-content.aos-init.aos-animate > div.twae-media.medium > img{
        position: absolute;
        left: -20px;
        top: -21px;
        width: 28% !important;
    height: 28%;
}

    #twae-602fe9b > div.twae-content.aos-init.aos-animate > div.twae-title {
    margin-left: 25% !important;
    margin-right: 0% !important ;
}
/*---------------------------------------------------------------------------------*/


#twae-abca0f3 > div.twae-content.aos-init.aos-animate > div.twae-media.medium > img{
    position: absolute;
    left: -20px;
    top: -21px;
    width: 28% !important;
    height: 28%;
}
#twae-602fe9b > div.twae-content.aos-init.aos-animate > div.twae-title {
    margin-left: 25% !important;
    margin-right: 0% !important ;
}
/*---------------------------------------------------------------------------------*/

#twae-134f262 > div.twae-content.aos-init.aos-animate > div.twae-media.medium > img{
    position: absolute;
    left: -20px;
    top: -21px;
    width: 28% !important;
    height: 28%;
}
    #twae-abca0f3 > div.twae-content.aos-init.aos-animate > div.twae-title {
    margin-left: 25% !important;
    margin-right: 0% !important ;
}
/*---------------------------------------------------------------------------------*/


    #twae-134f262 > div.twae-content.aos-init.aos-animate > div.twae-media.medium > img{
    position: absolute;
    left: -20px;
    top: -21px;
    width: 28% !important;
    height: 28%;
}
    #twae-134f262 > div.twae-content.aos-init.aos-animate > div.twae-title {
    margin-left: 25% !important;
    margin-right: 0% !important ;
}

/*---------------------------------------------------------------------------------*/


    #twae-821db9d > div.twae-content.aos-init.aos-animate > div.twae-media.medium > img{
    position: absolute;
    left: -20px;
    top: -21px;
    width: 28% !important;
    height: 28%;
}
    #twae-821db9d > div.twae-content.aos-init.aos-animate > div.twae-title {
    margin-left: 25% !important;
    margin-right: 0% !important ;
}
/*---------------------------------------------------------------------------------*/


    #twae-68baa48 > div.twae-content.aos-init.aos-animate > div.twae-media.medium > img{
    position: absolute;
    left: -20px;
    top: -21px;
    width: 28% !important;
    height: 28%;
}
    #twae-68baa48 > div.twae-content.aos-init.aos-animate > div.twae-title {
    margin-left: 25% !important;
    margin-right: 0% !important ;
}


#twae-a2759d0 > div.twae-content.aos-init.aos-animate > div.twae-media.medium > img{
    position: absolute;
    left: -20px;
    top: -21px;
    width: 28% !important;
    height: 28%;
}
    #twae-a2759d0 > div.twae-content.aos-init.aos-animate > div.twae-title {
    margin-left: 25% !important;
    margin-right: 0% !important ;
}
  }
.twae-year-label.twae-year-text {
    background: linear-gradient(180deg, rgba(233, 23, 140, 1) 0%, rgba(54, 28, 85, 1) 100%);
}
.twae-icon {
    background: linear-gradient(180deg, rgba(233, 23, 140, 1) 0%, rgba(54, 28, 85, 1) 100%);
}/* End custom CSS */